#wrapper {
	width: 902px;
	height: 1264px;
	background-color: #062134;
}
#navigation {
	width: 100%;
	height: 96px;
}
#navigation > h1 {
	font-size: 27px;
    margin-left: 21px;
    padding-top: 30px;
    color: white;
}
#consulting {
    font-size: inherit;
    color: inherit;
}
#toprow {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}
#james {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}
a {
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-family: arial;
}
#navigation > ul > li{
	display: inline-block; 
}
#navigation > ul {
	list-style-type: none;
    padding-left: 50%;
    margin-top: -4%;
}
ul > li {
	list-style-type: none;
    margin-top: -7%;
    font-size: 12px;
    font-family: arial;
    color: white;
}
li > h3 {
	padding-left: 34px;
}
li > span {
	font-style: 15px;
}
#whitefield {
	width: 878px;
    height: 1070px;
    background-color: white;
    margin-left: 12px;
}
#picturelayout {
	width: 100%;
    height: 50%;
    
}
#picturelayout > img {
	height: 92%;
    width: 96.5%;
    margin-left: 16px;
    margin-top: 16px;
}
#snowb {
    height:inherit;
    width: inherit; 
}
.moreinfo {
	height: 254px;
    width: 269px;
    background-color: #1468A8;
    display: inline-block;
    margin-left: 16px;
}
.moreinfo > img {
	height: 36px;
    width: 37px;
    margin-left: 9px;
    margin-top: 9px;
}
.moreinfo > h1 {
	display: inline-block;
	font-family: arial;
    font-size: 27px;
    font-weight: 500;
    color: white;
    padding-left: 5px;
}
.moreinfo > p {
	color: white;
    font-size: 12px;
    font-family: arial;
    margin-top: -15px;
    margin-right: 16px;
    margin-left: 14px;
}
.moreinfo > button {
	background: linear-gradient(aqua, #1991DC);
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 43px 16px;
    cursor: pointer;
    width: 155px;
    border-radius: 8px;
}
#theworld {
	width: 287px;
    height: 250px;
    background-color: transparent;
    display: inline-block;
    margin-left: 16px;
    margin-top: 16px;
    vertical-align: top;
}
#theworld > h1 {
	color: black;
    font-family: arial;
    font-size: 20px;
    font-weight: 500;
}
#theworld > img {
	height: 80%;
	width: 94%;
}
#ourgoal {
	width: 298px;
    height: 241px;
    background: transparent;
    display: inline-block;
    margin-left: -32px;
    margin-top: 49px;
    vertical-align: top;
}
#ourgoal > p {
	color: black;
    font-family: arial;
    font-size: 11px;
    padding-left: 30px;
    margin-top: 17px;
    margin-bottom: 31px;
}
#ourgoal > a {
	color: blue;
    padding-left: 31px;
    font-family: arial;
}
#testimonial {
	width: 269px;
    height: 250px;
    background-color: transparent;
    display: inline-block;
    margin-left: 16px;
    margin-top: 16px;
}
#testimonial > h1 {
	color: black;
    font-family: arial;
    font-size: 20px;
    font-weight: 500;
}
#testimonial > p {
	color: black;
    font-family: arial;
    font-size: 12px;
    padding-left: 1px;
    margin-top: 25px;
    margin-bottom: 31px;
}
.quote {
	width: 269px;
    height: 149px;
    background-color: #DAEDFF;
}
.quote > h3 {
	color: black;
    font-family: arial;
    font-weight: 100;
    font-size: 13px;
    padding-top: 49px;
    margin-left: 20px;
    margin-right: 20px;
}
#lowerpage {
	height: 69px;
    width: 878px;
    background-color: #DAEDFF;
    margin-top: -8px;
    color: black;
}
#lowerpage > ul > li {
	display: inline-block;
}
li > a > h2 {
    color: black;
    font-size: 15px;
    padding: 17px;
}
#lowerpage > ul {
    padding-left: 25%;
    padding-top: 3%;
}